html, body{
    margin: auto;
    width: 992px;
}
*{

}
.contenedor{
    border: 1px solid black;
}

.imagen{
    border: 1px solid black;
}

.menu{
    border: 1px solid black;
}

.contenido{
    border: 1px solid black;
}

.contenido1{
    border: 1px solid black;
}

.contenido2{
    border: 1px solid black;
}

.footer{
    border: 1px solid black;
}