* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}




body { 
    padding: 2%; 
    font: 18px/1.4 sans-serif; 
}

nav a { 
    color: rgb(255, 62, 62); 
    display: block; 
    padding: 0.5em 1em; 
    text-decoration: none; 
}

nav a:hover { 
    color: rgb(255, 143, 143); 
}

nav { 
    background: rgb(59, 59, 59); 
    text-align: center; 
}
nav > ul > li { 
    display: inline-block; 
    border-left: solid 1px rgb(77, 77, 77); 
}
nav > ul > li:first-child { 
    border-left: none; 
}
