.caja{
    width: 200px;
    height: 400px;
    background-color: hsl(0, 0%, 15%);
    color: white;
    margin: 2%;
}

.caja img{
    width: 100%;
}

#Contenedor{
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto;
}

.cabecera img{
    width: 100%;
}

.logo{
    position: absolute;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    width: 30%;
}

.logo img{
   width: 80%;
}